.line {
  width: 200px;
  height: 2rem;
  background-color: blue;
  margin: 1rem;
  border-radius: 15px;n
  transition: animation  0.4s ease-in-out;
  animation-name: none;
}
.line1, ,.line2, .line3 {
  animation: line1 0.4s ease-in-out;
  animation-fill-mode: forwards;
}
.container{
  cursor: pointer;
}
@keyframes line1{
  50%{
    transform: translateY(3rem);
  }
  100%{
    transform: translateY(3rem);
  }
}
@keyframes line2{
  50%{
    transform: translateY(3rem);
  }
  100%{
    transform: translateY(3rem);
  }
}